@import "@porto/apps/styles.css";
@import "@porto/ui/styles.css";

@theme {
  --text-base: 15px;
  --text-base--line-height: calc(1.325 / 1);
}

html,
:host {
  @apply bg-transparent;
}

html,
body {
  height: 100%;
}

body {
  @apply text-base;
}

#root {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

[data-dialog] {
  --height-button: 40px;
  --radius-default: 8px;
}
