NEXT_PUBLIC_WALLET_NAME=LiquidRoute Wallet
NEXT_PUBLIC_WALLET_DESCRIPTION=Secure Cross-Domain Solana Wallet
NEXT_PUBLIC_TRUSTED_ORIGINS=http://localhost:3000,https://solanavalidators.xyz,https://app.uniswap.org,https://jupiter.ag,https://app.1inch.io
NEXT_PUBLIC_RPC_ENDPOINT=https://sparkling-attentive-replica.solana-mainnet.quiknode.pro/b83cf5c147d67a45906264e195574aa2a0150568/
