@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force transparent background everywhere */
html,
body,
:root,
:host {
  background-color: transparent !important;
  background: transparent !important;
}

html {
  color-scheme: light dark;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}